const firebaseConfig = {

    apiKey: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",

    authDomain: "xxxxxxxxxxxxxxxx",

    projectId: "xxxxxxxx",

    storageBucket: "xxxxxxxxxxxxxx",

    messagingSenderId: "xxxxxxxxxxxxxxxxxxx",

    appId: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

  };